[user]
	email = june.mocha8686@gmail.com
	name = mocha8686
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[core]
	autocrlf = input
	pager = delta
[rebase]
	autostash = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	side-by-side = true
[merge]
	conflictStyle = zdiff3
