@import url("/home/mocha/.cache/wal/colors-waybar.css");

@define-color alert @color1;
@define-color warn #ebcb8b;
@define-color critical #bf616a;

/**********/
/* Global */
/**********/

* {
	font-family: 'TiltNe Nerd Font', sans-serif;
	transition-property: color, border;
	transition-duration: 150ms;
	transition-timing-function: ease-in-out;
}

window#waybar {
	color: @foreground;
	background-color: @background;
	border-radius: 12px;
}

tooltip {
	background-color: @background;
	border: 1px solid @color1;
	border-radius: 8px;
	opacity: 0.85;
}

.module:hover {
	color: @color1;
}

.modules-left {
	padding-top: 8px;
}

.modules-right {
	padding-bottom: 8px;
}

/************/
/* Semantic */
/************/

.warning,
.critical {
	border-left-width: 3px;
	border-style: solid;
}

.warning {
	border-color: @warn;
	color: @warn;
}

.critical {
	border-color: @critical;
	color: @critical;
}

/***********/
/* Modules */
/***********/

#clock {
	padding: 6px;
}


#disk {
	font-size: 20px;
}


#pulseaudio-slider {
	padding-bottom: 0;
}

#pulseaudio-slider slider {
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#pulseaudio-slider trough {
	min-height: 80px;
	min-width: 10px;
	border-radius: 10px;
	background-color: black;
	border-color: @color1;
}

#pulseaudio-slider highlight {
	border-radius: 10px;
	background-color: @color1;
	border-color: @color1;
}


#user {
	padding: 8px;
}


#window {
	padding-left: 14px;
}


#wireplumber {
	padding-top: 0;
}

#wireplumber.muted {
	color: @critical;
}


#workspaces * {
	transition: none;
}

#workspaces button.active {
	color: @color1;
}

#workspaces button.empty {
	color: inherit;
	opacity: 0.3;
}
