[Unit]
Description="rclone bisync for Dropbox Documents"

[Service]
Type=oneshot
ExecStart=/usr/bin/rclone bisync /home/mocha/Documents/Dropbox dropbox:Documents --config /home/mocha/.config/rclone/rclone.conf --create-empty-src-dirs --compare size,modtime,checksum --slow-hash-sync-only --resilient --recover --fix-case --conflict-resolve newer --max-lock 2m --verbose
