[Unit]
Description="rclone bisync for Drive Documents"

[Service]
Type=oneshot
ExecStart=/usr/bin/rclone bisync /home/mocha/Documents/Drive drive:Documents --config /home/mocha/.config/rclone/rclone.conf --create-empty-src-dirs --compare size,modtime,checksum --slow-hash-sync-only --resilient --recover --fix-case --conflict-resolve newer --conflict-loser delete --max-lock 2m -v
