@import url("/home/mocha/.cache/wal/colors-waybar.css");

#outer-box, #input {
	color: @foreground;
	background-color: @background;
	font-family: 'Iosevka Nerd Font', 'JetbrainsMono Nerd Font', monospace;
	font-size: 10pt;
	border: none;
	border-radius: 0;
}

#outer-box {
	border: 2px solid @color1;
}

#entry:selected {
	background-color: @color1;
	outline: none;
}
